<div class="col-lg-4 sidebar">

  <div class="widgets-container">

    <!-- Blog Author Widget 2 -->
    <!--
    <div class="blog-author-widget-2 widget-item">

      <div class="d-flex flex-column align-items-center">
        <img src="/zenblog/assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
        <h4>Jane Smith</h4>
        <div class="social-links">
          <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
          <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
          <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
        </div>

        <p>
          Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
        </p>

      </div>
    </div>--><!--/Blog Author Widget 2 -->

    <!-- Search Widget -->
    <div class="search-widget widget-item">

      <h3 class="widget-title">Search</h3>
      <form action="">
        <input type="text">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>

    </div><!--/Search Widget -->

    <%= render "zenblog/posts/widget_recent_posts", recent_posts: @recent_posts %>

    <!-- Tags Widget -->
    <div class="tags-widget widget-item">

      <h3 class="widget-title">Tags</h3>
      <ul>
        <% @site.tags.order(:name).each do |tag| %>
          <li>
            <%= link_to tag.name, "/posts/tags/#{tag.id}" %>
          </li>
        <% end %>
      </ul>

    </div><!--/Tags Widget -->

  </div>

</div>
