<!-- Recent Posts Widget -->
<div class="recent-posts-widget widget-item">

  <h3 class="widget-title">Recent Posts</h3>

  <%= render partial: "zenblog/posts/widget_recent_posts_post", collection: recent_posts, as: "post" %>

</div><!--/Recent Posts Widget -->
