<header>
  <table border="0" width="100%">
    <tr>
      <td width="70%">
        <a href="/">
          <h1><%= @site.name %></h1>
        </a>
      </td>
      <td width="30%">
        <nav>
          <ul>
            <li><%= link_to "Home", root_path, class: @menu == :home ? "active" : nil %></li>
            <li><%= link_to "About", about_path, class: @menu == :about ? "active" : nil %></li>
            <li><%= link_to "Contact", contact_path, class: @menu == :contact ? "active" : nil %></li>
          </ul>
        </nav>
      </td>
    </tr>
  <table>
</header>
